<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:replace="~{fragment/header::headerFragment(~{::title})}">
    <title th:text="로그인"></title>
</head>
<body>

<th:block layout:fragment="content">
    <h2>로그인</h2>
    <div>
        <form>
            <div>
                <div>아이디</div>
                <input id="id" type="text" name="id"/>
            </div>
            <div>
                <div>비밀번호</div>
                <input id="password" type="password" name="password"/>
            </div>
            <input class="btn-submit" type="submit" value="로그인">
        </form>
    </div>

</th:block>
</body>
<th:block layout:fragment="script">
    <script type="text/javascript">
        $(function () {
            $('.btn-submit').click((e) => {
                const id = $('#id').val();
                const password = $('#password').val();

                if (id == '') {
                    alert('아이디를 입력해주세요');
                    e.preventDefault();
                }
                if (password == '') {
                    alert('패스워드를 입력해주세요');
                    e.preventDefault();
                }

                if (id != '' && password !='') {
                    const path = 'http://localhost:8080/api/login';
                    const json = JSON.stringify({
                        'id': id,
                        'password': password,
                    });
                    $.ajax({
                        url: path,
                        type: 'POST',
                        contentType: 'application/json',
                        data: json,
                    }).done((response) => {
                        if (response == 'success') {
                            alert('로그인 성공')
                            localStorage.setItem('id', id);
                            location.href = "http://localhost:8080"
                        } else {
                            alert(response);
                        }
                    });
                }
            });
        });
    </script>
</th:block>
</html>